# SPDX-License-Identifier: BSD-3-Clause
---
name: CI
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Lint GitHub Actions
      uses: reviewdog/action-actionlint@v1
    - name: Setup Environment
      uses: ./.github/actions/setup-environment
      with:
        node-version: '20'
        python-version: '3.14'
        go-version: '1.21'
    - name: Run Go tests
      run: cd go && go test ./...
    - name: Lint
      run: npm run lint
    - name: Lint YAML
      run: yamllint .
    - name: Build
      run: npm run build
    - name: Run unit tests
      run: npm run test:unit
    - name: Run integration tests
      run: npm run test:integration
    - name: Build Docker image
      if: runner.os == 'Linux'
      run: docker build -t organic-typing .
    - name: Test Docker image
      run: docker run --rm organic-typing npm run dev --version
