# SPDX-License-Identifier: BSD-3-Clause
# Release workflow for automated tagging and releasing on PR merge
name: Release
permissions:
  contents: write
on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Configure git
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - name: Get version
      run: |
        version="$(cat VERSION)"
        echo "VERSION=${version}" >> "$GITHUB_ENV"
        echo "TAG=${version}" >> "$GITHUB_ENV"
    - name: Push tag
      run: |
        if git rev-parse ${{ env.TAG }} >/dev/null 2>&1; then
          echo "Tag ${{ env.TAG }} already exists, skipping tag creation"
        else
          git tag ${{ env.TAG }}
          git push origin ${{ env.TAG }}
        fi
    - name: Create release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG }}
        release_name: ${{ github.event.pull_request.title }}
        body: ${{ github.event.pull_request.body }}
        draft: false
        prerelease: false