# SPDX-License-Identifier: BSD-3-Clause
# Release workflow for automated tagging and releasing on version bump merge
name: Release
permissions:
  contents: write
on:
  push:
    branches: [main]

jobs:
  release:
    if: contains(github.event.head_commit.message, 'bump version')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Get version
      run: |
        version="$(cat VERSION)"
        echo "VERSION=${version}" >> "$GITHUB_ENV"
        echo "TAG=${version}" >> "$GITHUB_ENV"
    - name: Push tag
      run: |
        git tag ${{ env.TAG }}
        git push origin ${{ env.TAG }}
    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ env.TAG }}
        name: Release ${{ env.TAG }}
        body: Automated release for version ${{ env.TAG }}
        draft: false
        prerelease: false
